@font-face {
  font-family: "futura";
  src: url("../fonts/futura_normal.ttf");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Raleway:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

/*HEADER*/
header {
  position: sticky;
  top: 0%;
  background-color: black;
}

.title {
  margin-top: 2%;
  padding-top: 1%;
  font-family: "Amatic SC";
  font-size: 64px;
  color: white;
  text-align: center;
}

.title a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.title a:hover {
  color:#ff9900;
}

.navigation {
  margin-top: 0.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
}

.navigation a {
  font-family: "futura";
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

.navigation a:hover {
  color: #ff9900;
}

.navigation a.active {
  color: #ff9900;
}

hr {
  border: 1px solid white;
  margin: 0.5% 2.5%;
  margin-bottom: 4.5%;
}

/*ILUSTRACIONES*/
#ilustraciones {
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

#ilustraciones .column {
  flex: 33.3%;
  max-width: 33.3%;
}

#ilustraciones .column img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/*FOOTER*/
footer {
  background-color: #ff9900;
  height: 80px;
  line-height: 80px;
  margin-top: auto;
  display: flex;
  align-items: center;
  bottom: 0%;
  width: 100%;
}

.footerContainer {
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  width: 100%;
}

.socialMediaFooter {
  display: flex;
  justify-content: right;
  width: 50%;
}

.socialMediaFooter img {
  margin-left: 80px;
  vertical-align: middle;
  width: 33px;
  height: 33px;
}

footer #copyright {
  justify-content: flex-end;
  text-align: end;
  font-family: "futura";
  font-size: 18px;
  width: 50%;
  vertical-align: middle;
}
